*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(15, 15, 15);
    overflow-y: hidden;
}

.text{
    font-size: 50px;
    color: white;
}

.cube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-30deg);
    animation: animate-rotation-cube 6s linear infinite;
}

@keyframes animate-rotation-cube {
    0%{ transform:  rotateX(-30deg) rotateY(0deg); }
    100%{ transform: rotateX(-30deg) rotateY(360deg); }
}

.cube div{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    transition: 1.5s;
}

.top{
    position: absolute;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateX(90deg) translateZ(150px);
    transition: 1.5s;
}

.bottom{
    position: absolute;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateX(90deg) translateZ(-150px);
    transition: 1.5s;
}


.bottom:after{
    content: "";
    position: absolute;
    background-color: rgb(0, 130, 0);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: translateZ(-50px);
    filter: blur(30px)
}

.cube:hover span{
    transform: rotateY(calc(90deg * var(--i))) rotateZ(180deg) translateZ(250px);
}

.cube:hover .top{
    transform: rotateX(90deg) rotateZ(180deg) translateZ(250px);
}

.cube:hover .bottom{
    transform: rotateX(90deg) rotateZ(-180deg) translateZ(-250px);
}